# some ignores came directly from: https://gist.github.com/mapedd/2045092. Thanks!
*~
**output/*
**/output
*.html
*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt

#ignore OS noise

Thumbs.db
.DS_Store

*obj_dir/*
rtl/fifo/tb.v
**/_ngo
*.bgn
*.bit
*.bld
*.drc
*.ipf
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wcfg
*.xpi
*.xst
*.srp
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
**/ipcore_dir
**/obj_dir
**/xlnx*
*.projectmgr
*.mif
webtalk*
*_summary.xml
*_usage.xml

